<div class="container-fluid">
  <div *ngIf="contact">
    <div class="row mt-5">
      <div class="col-12 text-center">
        <h1>{{ contact.firstName }} {{ contact.lastName }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-4 text-center">
        <form [formGroup]="messageForm">
          <mat-form-field appearance="outline" class="w-100">
            <textarea matInput formControlName="message"></textarea>
            <mat-error *ngIf="!messageForm.controls.message.valid"
              >Please enter a message</mat-error
            >
          </mat-form-field>
          <button
            *ngIf="!sendingMessageLoading"
            color="primary"
            mat-raised-button
            (click)="sendMessage()"
            [disabled]="!messageForm.valid"
          >
            Send
          </button>
        </form>
      </div>
      <div
        *ngIf="sendingMessageLoading"
        class="col-12 d-flex justify-content-center"
      >
        <mat-spinner [diameter]="40"></mat-spinner>
      </div>
    </div>
  </div>
  <div *ngIf="!contact">
    <div class="row mt-5">
      <div class="col-12 text-center"><h1>Contact not Found</h1></div>
      <div class="col-12 text-center">
        <button mat-raised-button color="primary" (click)="backToContacts()">
          Back to Contacts
        </button>
      </div>
    </div>
  </div>
</div>
