<div class="container-fluid">
  <div *ngIf="contact">
    <h1>{{ contact.firstName }} {{ contact.lastName }}</h1>
    <div class="row">
      <div class="col-12">
        <form [formGroup]="messageForm">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>New Message</mat-label>
            <textarea matInput formControlName="message"></textarea>
          </mat-form-field>
          <button
            mat-raised-button
            (click)="sendMessage()"
            [disabled]="!messageForm.valid"
          >
            Send
          </button>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="!contact">
    <div class="row">
      <div class="col-12 text-center">Contact not Found</div>
      <div class="col-12 text-center">
        <button mat-button (click)="backToContacts()">Back to Contacts</button>
      </div>
    </div>
  </div>
</div>
