<div class="container-fluid">
  <div *ngIf="contact">
    <div class="row mt-5">
      <div class="col-12 text-center">
        <h1>{{ contact.firstName }} {{ contact.lastName }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <form [formGroup]="messageForm">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>New Message</mat-label>
            <textarea matInput formControlName="message"></textarea>
          </mat-form-field>
          <button
            color="primary"
            mat-raised-button
            (click)="sendMessage()"
            [disabled]="!messageForm.valid"
          >
            Send
          </button>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="!contact">
    <div class="row mt-5">
      <div class="col-12 text-center"><h1>Contact not Found</h1></div>
      <div class="col-12 text-center">
        <button mat-raised-button color="primary" (click)="backToContacts()">
          Back to Contacts
        </button>
      </div>
    </div>
  </div>
</div>
