<div class="container-fluid">
  <div *ngIf="contact">
    <div class="row mt-5">
      <div class="col-12 text-center">
        <h1>{{ contact.firstName }} {{ contact.lastName }}</h1>
        <div>
          <div class="col-12">
            {{ contact.phoneNumber }}
          </div>
          <div class="col-12 mt-3">
            <button
              mat-raised-button
              color="primary"
              (click)="navigateToSendMessage()"
            >
              Send Message
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!contact">
    <div class="row mt-5">
      <div class="col-12 text-center"><h1>Contact not Found</h1></div>
      <div class="col-12 text-center">
        <button mat-raised-button (click)="backToContacts()">
          Back to Contacts
        </button>
      </div>
    </div>
  </div>
</div>
